@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.logo {
  margin-left: 70px;
  margin-right: 44px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-menu {
  padding-left: 254px;
}

.navigation-user .navigation-link {
  padding: 23px 13px;
}

.navigation-user {
  width: 315px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-link {
  padding: 20px 16px;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.navigation-link:hover {
  color: #83b3d3;
}

.navigation-link:focus-visible {
  outline: 2px solid #82b3d3;
}

.navigation-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link-want {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 14px 20px;
  padding: 8px 34px;
  border-radius: 4px;
}

.navigation-link-want:hover {
  background-color: #615048;
}

.navigation-link-want:focus {
  outline: 2px solid #82b3d3;
  background-color: #615048;
}

.navigation-link-want:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* .navigation-item a:not(:last-child) {
  background: none;
} */

.navigation-item-icons a {
  min-height: 64px;
  box-sizing: border-box;
}

.navigation-item-icons {
  min-width: 44px;
  min-height: 64px;
  position: relative;
}

.navigation-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
}

.navigation-icon:hover {
  color: #83b3d3;
}

.navigation-icon:focus {
  outline: 2px solid #82b3d3;
}

.navigation-icon:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-namber {
  color: #ffffff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  background-color: #7db54f;
  border-radius: 10px;
  position: absolute;
  top: 17px;
  right: 3px;
}

.main-index {
  text-align: center;
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  width: 1200px;
  min-height: 485px;
  margin: 0 auto;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  margin: 0 auto;
  margin-bottom: 82px;
  margin-top: 51px;
}

.information {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 282px;
}

.information-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 620px;
  min-height: 72px;
  margin: 69px 290px 25px 290px;
}

.information-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  width: 651px;
  min-height: 26px;
  margin: 0 274px 90px 275px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-card {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
}

.advantages-item {
  display: flex;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.advantages-card .advantages-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -32px;
  left: 50%;
  margin-left: -30px;
}

.advantages-card-different .advantages-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-town,
.advantages-item-bridge {
  color: #ffffff;
  background-color: #82b3d3;
  grid-column: 1 / -1;
}

.advantages-item-area,
.advantages-item-road,
.advantages-item-tourists {
  color: #000000;
}

.advantages-item-area,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-item-bridge .advantages-image {
  order: -1;
}

.services-list {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
}

.services-item-house .services-picture {
  background-image: url("../images/advantage-home.svg");
  background-position: center;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.services-item-food .services-picture {
  background-image: url("../images/advantage-eat.svg");
  background-position: center;
  width: 74px;
  height: 70px;
  margin: 0 auto;
}

.services-item-souvenirs .services-picture {
  background-image: url("../images/advantage-souvenirs.svg");
  background-position: center;
  min-width: 64px;
  min-height: 76px;
  margin: 0 auto;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-top: 30px;
}

.services-item-house {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-food {
  background-color: #ffffff;
}

.services-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  text-align: center;
  background-color: #ffffff;
  min-height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 592px;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 50px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
}

.button-brown {
  background-color: #756157;
  width: 376px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  outline: 2px solid #82b3d3;
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscription {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 415px;
}

.subscription-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  outline: 2px solid #82b3d3;
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
}

.footer-social {
  width: 350px;
  padding-left: 70px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  position: relative;
}

.footer-sociate-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #83b3d3;
}

.footer-sociate-icon:hover {
  color: #68a2ca;
}

.footer-sociate-icon:focus {
  color: #68a2ca;
}

.footer-sociate-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contact {
  min-width: 331px;
  margin: 0 auto;
}

.footer-contact-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-contact-phone:hover {
  color: #756157;
}

.footer-contact-phone:focus {
  color: #756157;
}

.footer-contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  width: 350px;
  padding-right: 70px;
}

.footer-logo a {
  display: block;
  width: 115px;
  margin-left: auto;
  color: #000000;
}

.footer-logo a:hover {
  color: #756157;
}

.footer-logo a:focus {
  color: #756157;
}

.footer-logo a:active {
  color: rgba(117, 97, 87, 0.3);
}
